body {
	--transition-duration: 150ms;

	--app-main-font-family: 'Raleway', sans-serif;
	--app-heading-font-family: 'Lato', serif;

	--app-color-shell: #011627;

	--app-color-dark: white;
	--app-color-dark-rgb: 255, 255, 255;
	--app-color-dark-contrast: #02081a;

	--app-color-light: #011627;
	--app-color-light-rgb: 1, 22, 39;
	--app-color-light-contrast: white;

	--app-color-primary: rgb(240, 84, 84);
	--app-color-primary-rgb: 240, 84, 84;
	--app-color-primary-contrast: #011627;

	--app-gradient-primary: linear-gradient(112.7deg, #3591af 11.4%, #03759b 70.2%);
}
