body {
	--transition-duration: 150ms;

	--app-main-font-family: 'Raleway', sans-serif;
	--app-heading-font-family: 'Mali', serif;

	--app-color-shell: white;

	--app-color-light: white;
	--app-color-light-rgb: 255, 255, 255;
	--app-color-light-contrast: #02081a;

	--app-color-dark: #011627;
	--app-color-dark-rgb: 1, 22, 39;
	--app-color-dark-contrast: white;

	--app-color-primary: #03759b;
	--app-color-primary-rgb: 3, 117, 155;
	--app-color-primary-contrast: white;

	--app-gradient-primary: linear-gradient(112.7deg, #3591af 11.4%, #03759b 70.2%);
}
